body{
    background-color: rgb(242, 238, 235);
}

nav{
    background-color: rgb(231, 215, 200);
}

.nav1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: top;
    list-style-type: none;
    height: 35px;
    padding: 2px;
}

h1{
    font-family: 'Mea Culpa', cursive;
    font-style: oblique;
    font-size: 80px;
    font-weight: lighter;
    text-align: center;
    margin: 0px;
}

.metier{
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 13px;
    letter-spacing: 10px;
    margin-bottom: 0px;
}

.boutonac{
    color: black;
    text-decoration: none;
    font-family: 'Koulen', cursive;
    font-size: 14px;
    letter-spacing: 2px;
}

a:hover{
    color: rgb(188, 117, 71);
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    position: relative;
}

#cadre1{
    background-image: url("images/salon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 800px;
    position: relative;
}

.nav2{
    background-color: rgb(188, 117, 71);
    color: white;
    width: 40%;
    height: 250px;
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    text-decoration:none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Koulen', cursive;
    font-size: 15px;
    letter-spacing: 2px;
    
}

hr{
    color: white;
    width: 80%;
    margin: 0px;
}

button{
    background-color: rgb(46, 45, 43);
    border: none;
    color: white;
    width: 80%;
    padding: 15px;
    text-align:start;
    font-family: 'Koulen', cursive;
    font-size: 15px;
    letter-spacing: 2px;
    cursor: pointer;
}

.bouton2{
    text-decoration: none;
    color: white;
}

#cadre2{
    width: 350px;
    margin-right: 150px;
    text-align: right;
    position: relative;
}

.portrait{
    width: 350px;
}

.nav2 a:hover{
    color: black;
}

#cadre3{
    background-color: white;
    width: 550px;
    height: 450px;
    font-style: normal;
    z-index: 1;
    position: absolute;
    margin-left: 500px;
    margin-top: 180px;
    
}